@import '~barfoos2.0/css/viewportDefinitions';
@import '~barfoos2.0/css/util';

div.testBuy {
	width:100vw;
	height:100vh;
	background-color:#3a4054e8;

	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	align-items:flex-start;

	@media screen and (max-width:$iPhone6Portrait) {
		flex-direction:column;
		align-items:stretch;
		height:20vh;
	}

	> form.test {
		color:white;
		font-size:2.5vh;
		font-weight:bold;

		@media screen and (max-width:$iPhone6Portrait) {
			width:100vw;
			text-align:center;
		}
	}
}
